<!-- users.component.html -->

<div class="page-content">
    <h1>Users Page</h1>

    <!-- Show loading state when users array is empty -->
    <!-- <div *ngIf="users.length === 0">
        Loading...
    </div> -->

    <!-- Filter Input -->
    <mat-form-field appearance="fill" class="filter-input">
        <mat-label>Filter Users</mat-label>
        <input matInput (input)="onFilterChange()" [(ngModel)]="searchTerm" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchTerm" (click)="clearFilter()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <!-- Table -->
    <mat-table [dataSource]="filteredUsers" class="mat-elevation-z8" *ngIf="filteredUsers.length > 0">
        <!-- Columns -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.first_name+' '+user.last_name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.phone_number }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let user">
                <button mat-icon-button (click)="editUser(user)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <!-- Column headers -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <!-- Table rows -->
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <!-- Pagination -->
    <mat-paginator [length]="totalUsers" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>

</div>