<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Username" name="username" [(ngModel)]="formData.username" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Password" name="password"
                        [(ngModel)]="formData.password" required>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>