<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
    <form (ngSubmit)="submitEditForm()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="data.first_name" name="first_name" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="data.last_name" name="last_name" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="data.email" name="email" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput [(ngModel)]="data.phone_number" name="phone_number" required>
        </mat-form-field>
        <div class="buttons-container">
            <button mat-button [mat-dialog-close] color="primary">Cancel</button>
            <button mat-button color="primary" type="submit">Save</button>
        </div>
    </form>
</mat-dialog-content>
